.Play {
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkgray;
}

.Play .outcome {
  padding: 1vh 1vh 0vh 1vh;
  width: 25vh;
}

.Play .option {
  font-size: 14px;
  margin: 1vh 1vh 0vh 1vh;
}

.Play .gameboard {
  background-color: lightgray;
  border: solid 0.5vh darkslategray;
  border-radius: 1vh;
  margin: 1vh;
  padding: 1vh;
  /* height: 100%; */
  /* overflow-y: hidden; */
}

.Play .gameboard button {
  margin-top: 2vh;
}