.Result {
  text-align: center;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 3vh;
}

.Result h2 {
  font-size: 4vh;
  margin: 3vh;
}

.Result img {
  width: 30vh;
}